.img-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  border: black 1px solid;
  border-radius: 5px;

  height: 24px;
  width: 24px;
  margin: 4px;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.added {
  color: #8cc63f;
  font-weight: bold;
}

.added:hover {
  color: #8cc63f;
}

.table td, .table th {
  border: none;
}

.table .btn-delete {
  border-color: red;
}

.table .btn-delete:hover {
  background-color: red;
}

.table .btn-edit {
  border-color: rgb(37, 24, 207);
}

.table .btn-edit:hover {
  background-color: rgb(24, 119, 207);
}