.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.loading-overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1101;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}