<form>
  <div class="form-group row">
    <label for="name_input" class="col-3">Name</label>
    <div class="col-9">
      <input type="text" class="form-control" id="name_input" name="Name" [(ngModel)]="member.Name"
        (change)="onChange()" required>
      <div *ngIf="showNameError" class="error">
        Please enter a name.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email_input" class="col-3">Email address</label>
    <div class="col-9">
      <input type="email" class="form-control" id="email_input" name="Email" [(ngModel)]="member.Email"
        (change)="onChange()" required>
      <div *ngIf="showEmailError" class="error">
        Please enter a valid email address.
      </div>
    </div>
  </div>
</form>